.env
mydatabase
*.sqlite3

# Django specific files
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.log
*.pot
*.py[co]
*.pyo
*.pyd
*.so
*.egg-info/
*.eggs/
*.coverage
.coverage.*
.cache/
nosetests.xml
*.mo
*.swp
*.swo
*.DS_Store
.idea/
.vscode/
.env